{% comment %}
  The carousel breakpoint is used to initialise the carousel
  only when those screen sizes are detected. This allows us to
  convert the images to a carousel in mobile and tablet but not
  in desktop. The resize@window->caoursel#screen is what we will
  use to listen for changes and when the screen matches the media-query
  ids we assigned in the bundle.ts (`app({ })`) function at runtime
  matches, then the carousel will activate.

  Remove the data-action and data-carousel-breakpoint-value attributes
  to disable this behaviour and have the carousel render in all screens.
{% endcomment %}
{% capture slides %}

  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'image' -%}
      <div class="w-full embla-slide">
        <a href="{{ block.settings.href }}">
          {% render 'responsive-image' image: block.settings.image, focal: true, primary: true, widths: '360,460,700,900,1200,1500,1800,2000' %}
          {% comment %} <img src="{{ block.settings.image | format: 'pjpg' }}"> {% endcomment %}
        </a>
      </div>
      {%- when 'video' -%}
      <div class="w-full embla-slide">
        {%- liquid
          assign video = block.settings.video 
          assign source = video.sources | first
      
          capture attributes
            if block.settings.autoplay
              echo 'autoplay muted '
            endif
            if block.settings.loop
              echo 'loop '
            endif
            if block.settings.controls
              echo 'controls '
            endif
          endcapture
        -%}

        <video
          {{ attributes }}
          width="{{ source.width }}"
          height="{{ source.height }}"
          class="w-full lazyload"
          {% if block.settings.poster %}
          poster="{{ block.settings.poster | image_url: height: 1024 }}"
          {% endif %}
          preload="none">
          {% for source in video.sources %}
            <source src="{{ source.url }}" type="{{ source.mime_type }}" />
          {% endfor %}
          Your browser does not support the video tag.
        </video>
      </div>

    {%- endcase -%}
  {% endfor %}

{% endcapture %}

{% render 'embla-carousel' with slides: slides, containScroll: 'trimSnaps' %}


{% schema %}
  {
    "name": "Carousel",
    "tag": "section",
    "class": "row jc-center ai-center",
    "blocks": [
      {
        "type": "image",
        "name": "Image Slide",
        "settings": [
          {
            "type": "header",
            "content": "Link",
            "info": "Renders a href link on the hero image"
          }, {
            "type": "url",
            "id": "href",
            "label": "Link"
          }, {
            "type": "header",
            "content": "Images",
            "info": "Choose or upload desktop and mobile images"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop Image",
            "info": "Dimensions: 1440x"
          }
        ]
      }, {
        "type": "video",
        "name": "Video Slide",
        "settings": [
          {
            "type": "header",
            "content": "Video Slide"
          },
          {
            "type": "video",
            "id": "video",
            "label": "A Shopify-hosted video"
          },
          {
            "type": "image_picker",
            "id": "poster",
            "label": "Poster",
            "info": "This image will show before the video loads or if it ever pauses."
          },
          {
            "type": "header",
            "content": "Settings"
          }, {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
          }, {
            "type": "checkbox",
            "id": "controls",
            "label": "Controls",
            "default": false
          }, {
            "type": "checkbox",
            "id": "loop",
            "label": "Loop",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carousel"
      }
    ]
  }
{% endschema %}