<!doctype html>
<html lang="{{ shop.locale }}" lang="{{ request.locale.iso_code }}">
  <head>

    {% render 'head-meta-tags' %}

    {{ content_for_header }}

    {% render 'script-tags', layout: 'theme' %}
    {% render 'style-tags', layout: 'theme' %}
    {% render 'script-object-map' %}


  </head>


  <body class="">

    <a class="skip-to-content-link button sr-only" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% # We give this an id because we define it in SPX targets. %}
    {% section 'layout-announcement-bar' %}
    {% section 'header' %} 

    {% # We give this an id because we define it in SPX targets. %}
    <main
      id="main"
      class="content-for-layout focus-none h-[200vh]"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% comment %}a11y compliance{% endcomment %}
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>


  </body>
</html>